<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding  >
  <h3>AQI</h3>

  <p>
    this is an simple app for checking AQI index 
  </p>

  <ion-card   *ngFor="let item of items" style=" height: fit-content;"  [ngStyle]="{'background-color': slide}">
            <div class="card-title" ng-repeat="phone in phones | filter:query">
              <!-- {{phone.name}} -->
              <!-- <p>{{phone.snippet}}</p> -->
              <ion-row>
                  <ion-col center text-center >                
                     <font face="微軟正黑體" color="#FFFFFF" style="font-size:30px">{{item.title}}</font>
                  </ion-col>
                  <!-- <ion-col center text-center>                   
                      <div><font face="Calibri" color="#FFFFFF" style="font-size:30px"></font></div>                  
                  </ion-col> -->
                  <ion-col center text-center>
                      <div><font face="微軟正黑體" color="#FFFFFF" style="font-size:30px" >{{item.note}}</font></div>
                  </ion-col>
                </ion-row>
            </div>     
   </ion-card>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
